In [1]:
import pandas as pd

# Load the dataset
file_path = 'starfield.csv'  # Replace with your actual file path

In [2]:
# Columns that are needed
required_columns = ['hip', 'dist', 'x0', 'y0', 'z0', 'absmag', 'mag', 'vx', 'vy', 'vz', 'spect']

# Read the CSV file using pandas
df = pd.read_csv(file_path, usecols=required_columns)

In [3]:

# Remove rows with missing values in 'X0', 'Y0', 'Z0', or 'SPECT'
df.dropna(subset=['x0', 'y0', 'z0', 'spect'], inplace=True)

In [4]:
# Convert velocities from km/s to parsecs per year
velocity_columns = ['vx', 'vy', 'vz']

    # Assuming df is a pandas DataFrame with the velocity columns in km/s
for col in velocity_columns:
    df[col] = df[col].apply(lambda x: "{:.10f}".format(x * 1.02269e-6))

# Now the 'vx', 'vy', 'vz' columns will have values as strings formatted to 10 decimal places without using scientific notation.
df.head()

,hip,dist,x0,y0,z0,mag,absmag,vx,vy,vz,spect
0,NaN,0.0000,0.000005,0.000,0.000,-26.700,4.850,nan,nan,nan,G2 V
1,NaN,509.1956,506.856000,0.003,-48.754,9.239,0.705,-0.0000203556,0.0000555382,-0.0000260684,G8 IV
2,1.0,219.7802,219.741000,0.003,4.177,9.100,2.390,0.0000000378,-0.0000055409,-0.0000020024,F3 V
13,NaN,817.1342,696.482000,0.041,427.341,9.013,-0.548,0.0000438018,0.0000367054,0.0000041981,K2
20,2.0,37.3164,35.176000,0.003,-12.456,9.270,6.411,0.0000065196,0.0000325287,-0.0000025097,K3 V

In [5]:
# Extract the first character of the spectral type (OBAFGKM)
df['spect'] = df['spect'].str.extract(r'([OBAFGKM])')

In [20]:
# Save the cleaned and processed data to a new CSV file
output_file_path = 'cleaned_stardataset.csv'
df.to_csv(output_file_path, index=False)

In [6]:
# Now, calculate the specifications
specifications = df.describe().loc[['mean', 'max', 'min']]

# Additionally, to provide more insights, let's include standard deviation to understand the spread of values
specifications.loc['std'] = df.describe().loc['std']

specifications

,hip,dist,x0,y0,z0,mag,absmag
mean,30580.730321,452.009663,-52.676267,230.176513,-30.380964,9.179449,1.659476
max,120404.000000,82083.959400,23668.645000,30790.305000,8146.862000,13.057000,14.265000
min,1.000000,0.000000,-6569.188000,-631.323000,-78270.936000,-26.700000,-9.614000
std,17674.438359,659.451862,314.080298,344.678502,604.203284,1.129730,1.844378